@font-face {
    font-family: 'open_sans';
    src: url('../assets/fonts/opensans-regular-webfont.eot');
    src: url('../assets/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/opensans-regular-webfont.woff') format('woff'),
         url('../assets/fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('../assets/fonts/opensans-bold-webfont.eot');
    src: url('../assets/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/opensans-bold-webfont.woff') format('woff'),
         url('../assets/fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('../assets/fonts/opensans-bolditalic-webfont.eot');
    src: url('../assets/fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/opensans-bolditalic-webfont.woff') format('woff'),
         url('../assets/fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'open_sans';
    src: url('../assets/fonts/opensans-italic-webfont.eot');
    src: url('../assets/fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/opensans-italic-webfont.woff') format('woff'),
         url('../assets/fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../assets/fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}


/* Global Fixes and Classes*/



/* Helps images/videos scale properly */

img, video {
   max-width: 100%;
   height: auto;
}


/* Contains content within 840px */

.container {
	width: 100%;
	max-width: 840px;
	margin: 0 auto;
}


/* Changes text color to orange */

.makeorange {
	color: #feaa3a; 
	font-weight: bold;
}


/* Class to add emphasis after it was stripped with reset.css (I'm 
	guessing theres a better solution) */

.emphasis {
	font-style: italic;
}


/* Clearfix */

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


/* Set all headings to bold*/

h1, h2, h3, h4 {
	font-family: 'open_sans', sans-serif;
	font-weight: bold;
}


/* Set base font/size for text */

body {
	font-family: 'open_sans', sans-serif;
	font-size: 16px;
}




/* Specific styling below */

/* Center header text, add padding to top to lower logo, add background image*/

header {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 130px;
	background: url('../assets/images/birds.jpg') no-repeat center center fixed;
	background-size: cover;
}


/* Centers Logo */

.logo {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	max-width: 16.19047619047619%;
}


/* Increase font size, add orange border below, color text white */

.title_name {
	display: inline;
	border-bottom: 1px solid #feaa3a;
	font-size: 55px;
	padding-bottom: 5px;
	color: white;
}

/* Increase font size, unbold heading from global, color text white */

.title_job {
	font-size: 35px;
	margin-top: 25px;
	margin-bottom: 100px;
	color: white;
	font-weight: normal;
}


/* Add spacing */

.big_hello {
	font-size: 35px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #feaa3a;
}


/* Creates transparent gray background behind intro text */

.grey_background {
	background-color: rgba(51, 51, 51, .8);
	padding: 50px;
}


/* Headshot: positioning */

.headshot {
	float: left;
	position: relative;
	left: 15px;
	top: 20px;
}


/* Float intro section text right, align text left, positioning */

.intro_text {
	text-align: left;
	float: right;
	width: 65%;
	margin-top: 20px;
}


/* Specific positioning and change color to white on intro paragraph */

.intro_text p {
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}


/* Twitter link: make orange, remove underline */

.twitlink {
	color: #feaa3a;
	text-decoration: none;
}

/* Work Experience Section */


/* Work Exp heading: align text left, increase font size,
make uppercase, create black border underneath and spacing */

.work_exp_heading {
	text-align: left;
	font-size: 32px;
	margin-top: 55px;
	text-transform: uppercase;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}


/* Job title/name container: float left and positioning */

.work_exp div div {
	float: left;
	width: 33%;
	padding-top: 3px;
}


/* Previous job description: float right, positioning */

.work_exp div p {
	float: right;
	width: 67%;
	padding-top: 5px;
	padding-bottom: 5px;
}


/* Job title/name text: positioning */

.work_exp div div p {
	padding-top: 2px;
	padding-bottom: 1px;
	width: 100%;
}


/* Web Widgets R Us: add border */

.wwru {
	border-bottom: 1px solid black;
	padding-top: 18px;
	padding-bottom: 25px;
}


/* Self-Employed: specific positioning*/

.self_emp {
	padding-top: 20px;
	padding-bottom: 40px;	
}




/* Skills Section */


/* Skills section: add clouds background */

.cloudsbg {
	background: url("../assets/images/clouds.jpg") no-repeat center center fixed;
	background-size: cover;
}


/* Skills section: add gray tint over clouds */

.greybg2 {
	background-color: rgba(51, 51, 51, .6);
}


/* Skills heading: Align center, increase font size, make uppercase,
add border below, make white, unbold from global heading bolder, spacing */

.skills_heading {
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	padding-bottom: 15px;
	border-bottom: 1px solid white;
	margin: 30px 0;
	color: white;
	font-weight: normal;
}


/* Skills circles/text: creates orange circles around each skill */

.skills div div p {
	display: inline-block;
	border-radius: 50%;
	border: 2px solid #feaa3a;
	text-align: center;
	height: 100px;
	width: 100px;
	line-height: 100px;
	color: white;
	margin: 3.8066962957382%;

}


/* Skill circles container container: keep circles on same line */

.skills div {
	display: inline-block;
	width: 100%;

}


/* Skill circles container: keep circles on same line, but stack in
blocks of 3 when too small */

.skills div div {
	width: 49.73772%;
	min-width: 417px;
}


/* Skills section: specific positioning */

.skills {
	padding-top: 15px;
	padding-bottom: 60px;
}




/* Education Section */



/* Education section heading: increase font size, make uppercase, 
make bold, add border below, spacing */

.edu_heading {
	font-size: 32px;
	margin-top: 55px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid black ;
	margin-bottom: 15px;
	padding-bottom: 25px;
}


/* Education text: spacing */

.education p {
	padding-top: 4px;
	padding-bottom: 4px;
}


/* Education section: increase length of bottom */

.education {
	padding-bottom: 50px;
}



/* Footer / Contact Info */


/* Footer: add black background, make text white */

footer {
	background-color: black;
	color: white;
}


/* Footer heading: increase font size, make uppercase, add white border below,
 spacing */

.getconnected {
	font-size: 32px;
	padding-top: 55px;
	text-transform: uppercase;
	border-bottom: 1px solid white;
	padding-bottom: 25px;
	margin-bottom: 25px;
}


/* Footer text: make uppercase, add spacing */

footer div p {
	text-transform: uppercase;
	padding-bottom: 12px;
}


/* Contact info: float left of icons */

.contactinfo {
	float: left;
}


/* Icons: float right of contact info */

.footer_icons {
	float: right;
	color: #feaa3a;
	width: 32.02%;
}


/* Icons: Spacing, float within containing div */

.footer_icons i {
	padding: 0 5%;
	float: left;
}


/* Copyright: font size and positioning */

.copyright {
	font-size: 10px;
	padding-top: 35px;
	clear: both;
}





/* When screen gets smaller than 860px */

@media screen and (max-width: 860px) {


	/* Resize container to fit smaller screen */

	.container {
		width: 420px;
	}


	/* Header logo: reduce size, add bottom spacing */

	.logo {
		width: 110px;
		min-width: 110px;
		margin-bottom: 90px;
	}


	/* Header headshot: reduce size, center, unfloat, positioning */

	.headshot {
		float: none;
		display: block;
		margin: 0 auto;
		width: 110px;
		left: 0;
		padding-bottom: 35px;
	}


	/* Header intro text: unfloat, align center */

	.intro_text {
		float: none;
		text-align: center;
		width: 100%;
	}


	/* Work experience heading: align center */

	.work_exp_heading {
		text-align: center;
	}


	/* Work experience text: unfloat to stack underneath heading */

	.work_exp div div {
		float: none;
		width: 100%;
	}


	/* Previous job titles: align center, spacing */

	.work_exp div div p {
		float: none;
		text-align: center;
		padding: 3px 0;
	}


	/* Work experience text: expand to fill container width */

	.work_exp div p {
		width: 100%;
	}


	/* Skills section: resizing */

	.skills {
		padding-bottom: 40px;
	}


	/* Education heading: align center */

	.education_heading {
		text-align: center;
	}


	/* Education subheading but not main paragraph: align center */

	.education p:nth-child(2),
	.education p:nth-child(3) {
		text-align: center
	}


	/* Footer heading: align center */

	.getconnected {
		text-align: center;
	}


	/* Footer text: align center, unfloat */

	footer div div p {
		text-align: center;
		float: none;
		width: 100%;
	}


	/* Contact info: center text chunk */

	.contactinfo {
		width: 100%;
	}


	/* Footer icon container: center icons */

	.footer_icons {
		text-align: center;
		margin: 0 auto;
		width: 100%;
		padding: 25px 0;
	}


	/* Footer icons: center icons within container */

	.footer_icons i {
		float: none;
		padding: 0 2%;
	}


	/* Copyright: Align center, add spacing */

	.copyright {
		text-align: center;
		padding-top: 10px;
		padding-bottom: 40px;
	}


}
