@import "reset";
@import "variables";
@import "fonts";
@import "mixins";
@import "global";


header {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 8.125rem;
  background: #333 url('../assets/images/birds.jpg') no-repeat center center fixed;

  .logo {
    display: block;
    margin: 0 auto 1.5rem;
    max-width: 16.19047619047619%;

    @include tablet {
      width: 110px;
      min-width: 110px;
    }
  }

  .title_name {
    display: inline;
    border-bottom: 1px solid #feaa3a;
    font-size: 2.7rem;
    color: white;
  }

  .title_job {
    font-size: 1.8rem;
    margin-bottom: 6.25rem;
    color: white;
    font-weight: normal;
  }

  .grey_background {
    background-color: rgba(0,0,0,0.5);
    padding: 3rem 0;
  }

  .headshot {
    float: left;
    width: 30%;

    @include tablet {
      float: none;
      display: block;
      margin: 0 auto;
      width: 110px;
      left: 0;
      padding-bottom: 35px;
    }
  }

  .intro_text {
    text-align: left;
    float: right;
    width: 65%;

    @include tablet {
      float: none;
      text-align: center;
      width: 100%;
    }

    p {
      margin-bottom: 1rem;
      color: white;
    }
  }

  .big_hello {
    margin-bottom: 1rem;
    color: #feaa3a;
  }
}

.work_exp {

  .work_exp_heading {
    text-align: left;
    font-size: 2rem;
    margin-top: 3.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid black;

    @include tablet {
      text-align: center;
    }
  }

  div {

    div {
      float: left;
      width: 30%;
      padding-top: 3px;
      margin-right: 5%;

      @include tablet {
        float: none;
        width: 100%;
      }

      p {
        padding-top: 2px;
        padding-bottom: 1px;
        width: 100%;

        @include tablet {
          float: none;
          text-align: center;
          padding: 3px 0;
        }
      }
    }

    p {
      float: right;
      width: 65%;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;

      @include tablet {
        width: 100%;
      }
    }
  }
}

.wwru {
  border-bottom: 1px solid black;
  padding-top: 18px;
  padding-bottom: 1.5rem;
}

.self_emp {
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
}

.cloudsbg {
  background: url("../assets/images/clouds.jpg") no-repeat center center fixed #333;
}

.greybg2 {
  background-color: rgba(0,0,0,0.5);
}

.skills {
  padding-bottom: 3.75rem;

  @include tablet {
    padding-bottom: 40px;
  }

  div {
    display: inline-block;
    width: 100%;

    div {
      width: 49.73772%;
      min-width: 417px;

      p {
        display: inline-block;
        border-radius: 50%;
        border: 4px solid #feaa3a;
        text-align: center;
        height: 6.25rem;
        width: 6.25rem;
        line-height: 6.25rem;
        color: white;
        margin: 3.38%;
      }
    }
  }

  .skills_heading {
    text-align: center;
    font-size: 1.875rem;
    text-transform: uppercase;
    padding-bottom: .5rem;
    border-bottom: 1px solid white;
    margin: 1.875rem 0;
    color: white;
    font-weight: normal;
  }
}

.education {
  padding-bottom: 3.125rem;

  p {
    padding: 0.25rem 0;
  }

  p:nth-child(2),
  p:nth-child(3) {

    @include tablet {
      text-align: center
    }
  }
}

.edu_heading {
  font-size: 2rem;
  margin-top: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid black ;

  @include tablet {
    text-align: center;
  }
}

footer {
  background-color: black;
  color: white;

  div {
    div {
      p {
        @include tablet {
          text-align: center;
          float: none;
          width: 100%;
        }
      }
    }

    p {
      text-transform: uppercase;
      margin-bottom: .25rem;
    }
  }

  .getconnected {
    font-size: 2rem;
    padding-top: 3.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    padding-bottom: .5rem;

    @include tablet {
      text-align: center;
    }
  }

  .contactinfo {
    float: left;

    @include tablet {
      width: 100%;
    }
  }

  .footer_icons {
    float: right;
    color: $highlight-color;
    width: 32.02%;

    @include tablet {
      text-align: center;
      margin: 0 auto;
      width: 100%;
      padding: 25px 0;
    }

    i {
      padding: 0 5%;
      float: left;

      @include tablet {
        float: none;
        padding: 0 2%;
      }
    }
  }

  .copyright {
    font-size: .75rem;
    padding-top: 2.25rem;
    clear: both;

    @include tablet {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 40px;
    }
  }
}